* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
    margin: 20px auto;
}

#header-container, ul li a {
    background: #ff0045;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
}

main {
    background: #ccc;
    color: #333;
}